/* COLORS CONTROllED VIA JAVASCRIPT */

nav.floating_nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000;
}

.floating_nav .background {
  /* Change background color via data attr */
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  pointer-events: none;
}

.background > div {
  font-family: 'Stanley';
  font-size: 2rem;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  z-index: -1;
  flex: 1 0;
  pointer-events: none !important;
}

.background > div > span {
  color: inherit;
  position: relative;
}

.nav_closer {
  position: fixed;
  right: 9.6rem;
  top: 1.466666666666666667rem;
  opacity: 0;
  padding: 2rem;
  transform: translateY(-10%);
}

.nav_closer i.fa {
  font-size: 2rem;
}

.floating_nav .background > span:nth-of-type(1),
.floating_nav .background > span:nth-of-type(2),
.floating_nav .background > span:nth-of-type(3) 
.floating_nav .background > span:nth-of-type(4) 
.floating_nav .background > span:nth-of-type(5) 
.floating_nav .background > span:nth-of-type(6) 
.floating_nav .background > span:nth-of-type(7) 
.floating_nav .background > span:nth-of-type(8) 
.floating_nav .background > span:nth-of-type(2) 
.floating_nav .background > span:nth-of-type(2) 
{
  transform: translateY(0%);
}
