* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}

main {
  background-color: var(--color-black);
}

section {
  padding: 150px;
  position: relative;
}

h1,h2,h3,h4,h5,h6 {
  -webkit-text-stroke: thin;
}

h1,h2 {
  font-family: 'Stanley';
  font-weight: 400;
}

h1 {
  font-size: 5rem;
  letter-spacing: 1.1px;
}

h2 {
  line-height: 1.7;
  letter-spacing: 0.8px;
}

img {
  width: 100%;
  height: auto;
}

p {
  line-height: 1.75rem;
  text-align: left;
  letter-spacing: 1px;
  margin: 1rem 0 0.7rem;
  font-weight: 100;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.justify-content-between {
  justify-content: space-between;
}

.text-capitalize {
  text-transform: capitalize;
}

@media screen and (max-width: 1920px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 1366px) {
  body {
    font-size: 14px;
  }
}
