header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px auto;
}

.nav_brand {
  color: var(--color-white);
  font-family: 'Stanley';
  cursor: pointer;
  font-size: 1rem;
}

.nav_button {
  padding: 1rem;
  cursor: pointer;
}

.nav_toggle {
  width: 0.66666666666667rem; /* 10px */
  height: 0.66666666666667rem;  /* 10px */
  background-color: var(--color-black);
  margin-bottom:  0.3333333333333333rem; /* 5px */
  position: relative;
  pointer-events: none;
}

.nav_toggle::before,
.nav_toggle::after {
  content: '';
  display: inline-block;
  width: 100%;
  background-color: var(--color-black);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.nav_toggle::before{
  height: 160%;
  transform: translate(150%, -40%);
}
.nav_toggle::after {
  height: 250%;
  transform: translate(300%, -60%);
}

.nav_toggle--text {
  font-family: 'Stanley';
  font-size: 0.5rem;
  text-align: center;
  margin-left: .1rem;
  pointer-events: none;
}

@media screen and (max-width: 1920px) {
  header nav {
    max-width: var(--content-width--xl);
  }
}

@media screen and (max-width: 1366px) {
  header nav {
    max-width: var(--content-width--lg);
  }
}

@media screen and (max-width: 1024px) {
  header nav {
    max-width: var(--content-width--md);
  }
}

@media screen and (max-width: 675px) {
  header nav {
    max-width: var(--content-width--sm);
  }
}
